body {
 font-family: Arial, sans-serif;
 text-align: center;

background: linear-gradient(to right, #654ea3, #eaafc8);
color:#241b3b;
}

h1 {
 color: #241b3b;
}

h2{
    color:#241b3b;;
}
button {
 padding: 10px 20px;
 font-size: 16px;
}